/* Client.css */


.client-container {
  background-color: #fff;
  padding: 20px;
}

nav ul {
  background-color: #e9ecef;
  margin: 0;
}

nav ul li:hover, nav ul li.active:hover {
  background-color: #d9d9d9;
  color: #fff;
}

nav ul li.active {
  background-color: #007bff;
  color: white;
  font-weight: bold;
}

input, textarea, select {
  width: 100%;
  padding: 10px;
}

button {
  width: 100%;
}