
.mecanicien-container {
  background-color: white;
  padding: 40px;
  border-radius: 12px;
  max-width: 600px;
  text-align: center;
}

.tabs {
  display: flex;
}

.tabs ul {
  list-style: none;
  padding: 0;
  display: flex;
}

.tabs li {
  padding: 10px 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
  margin-right: 10px;
}

.tabs li:hover {
  background-color: #0056b3;
}

button {
  background-color: #007bff;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 6px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s, transform 0.3s;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.message-sauvegarde {
  color: green;
  margin-top: 10px;
  font-weight: bold;
}
